/*reset*/
body {
    margin: 0;
}

input{
    padding: 0;
    border: none;
    margin: 0;
    cursor: none;
}

button{
    border: none;
}


/*styles*/  
*{
    font-family: Noto Sans JP;
    line-height: 100%;
}


.checkbox-wrapper{
    display: flex;
    gap: 4px;

    width: fit-content;
    background-color: #D9D9D9;
    padding: 4px;
    border-radius: 2.5px;

}

.checkbox-item-wrapper{
    max-height: 28px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 2.5px;
    color: #707070;
    display: flex;
    gap: 4px;

    font-family: Noto Sans JP;
    font-size: 20px;
    cursor: pointer;
    
}

.checkbox-item-wrapper:has(.checkbox-icon:checked){
    max-height: 28px;
    box-sizing: border-box;
    padding: 4px;
    background-color: #3C3C3C;
    border-radius: 2.5px;
    color: #FCFCFD;
    display: flex;
    gap: 4px;

    font-family: Noto Sans JP;
    font-size: 20px;
    
}

.checkbox-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: auto;
}


.checkbox-label{
    line-height: 18px;
    cursor: pointer;
}