# Server
PORT=5500
NODE_ENV=local

# Database switch
USE_DB=false

# PostgreSQL
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=

# Node Mailer
JWT_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=

# File Storage
PRESENTATION_DIR=./presentation